<section id="login" class="py-5">
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center">Prijava</h1>
            <div class="col-md-4"></div>
            <div class="col-md-4 forma">
                <form [formGroup]="loginForma" (ngSubmit)="ulogujSe()">
                    <div class="mb-3">
                        <label for="username" class="form-label">Unesite username</label>
                        <input type="username" class="form-control" id="username" name="username" formControlName="username" [class.is-invalid]="loginForma.controls['username'].invalid && loginForma.controls['username'].touched">
                        <div *ngIf="loginForma.controls['username'].invalid && loginForma.controls['username'].touched" class="error-msg">
                            <div *ngIf="$any(loginForma.controls['username']).errors.invalidImePrezime">
                                Unesite validnu lozinku
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="lozinka" class="form-label">Unesite lozinku</label>
                        <input type="password" class="form-control" id="lozinka" name="lozinka" formControlName="lozinka" [class.is-invalid]="loginForma.controls['lozinka'].invalid && loginForma.controls['lozinka'].touched">
                        <div *ngIf="loginForma.controls['lozinka'].invalid && loginForma.controls['lozinka'].touched" class="error-msg">
                            <div *ngIf="$any(loginForma.controls['lozinka']).errors.required">
                                Polje je obavezno
                            </div>
                        </div>    
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary" [disabled]="!loginForma.valid">Login</button>
                    </div>
                    <div class="row py-2 text-center">
                        <p style="margin-bottom: 0px;">
                            Nemate nalog? 
                            <span>
                                <a class="text-danger" style="text-decoration: none;" 
                                [routerLink]="['/register']">Registrujte se</a>
                            </span>
                        </p>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>
