:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container-fluid {
    flex: 1;
}


.footer {
    background-color: #41576b;
    color: white;
    width: 100%;
    margin-top: auto;
}

.footer .btn {
    color: #ffffff;
    border-color: #ffffff;
}

.footer .btn:hover {
    background-color: #ffffff;
    color: #343a40;
}