<section id="pocetna">
    <div class="container-fluid slika">
        <h2>Dobrodošli!</h2>
        <p>Otkrijte našu ekskluzivnu ponudu mobilnih telefona</p>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 text-center opis">
                <div>
                    <h1>Istražite našu ponudu!</h1>
                    <p>Upoznajte se sa najnovijim modelima mobilnih telefona koji su dostupni u našoj ponudi. U našem shopu možete pronaći širok spektar telefona različitih brendova i karakteristika, prilagođenih svakom korisniku.</p>
                    <p>Pregledajte naše najnovije modele, uporedite njihove specifikacije i odaberite telefon koji najbolje odgovara vašim potrebama. Naš asortiman obuhvata najnovije modele sa naprednim funkcijama, kao i pristupačne opcije za one koji traže povoljne cene.</p>
                    <p>Uživajte u jednostavnoj kupovini i brzoj isporuci, uz mogućnost praćenja statusa vaše porudžbine u svakom trenutku. Naš tim je tu da vam pruži podršku i odgovori na sva vaša pitanja.</p> 
                    <button class="btn btn-dark" [routerLink]="['/ponuda']">Ponuda</button> 
                </div>              
            </div>
            <div class="col-md-4">
                <div id="carouselExampleInterval" class="carousel slide carousel-dark" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="1000">
                        <img src="https://cdn2.mobilnisvet.com/2GB9g0DUt10hSaTGlb07qzi2Ytse5C8jWYtvGT-R3bY/sm:1/sh:1/el:0/q:85/wm:0.2:re:0:0:0.5/rs:fill:360:725/czM6Ly9tb2JpbG5pc3ZldGNvbS8yMDIxLzEvMTI3L2JucDdnbTlicGZzNDZkNDV0NGwwLzIvZi5qcGc.webp" class="d-block" alt="Slika nije ucitana">
                      </div>
                      <div class="carousel-item" data-bs-interval="1000">
                        <img src="https://cdn2.mobilnisvet.com/tuqx5r3ZtszE0fg93R6BZtrVcn331rxOi0r8XlcxImc/sm:1/sh:1/el:0/q:85/wm:0.2:re:0:0:0.5/rs:fill:360:733/czM6Ly9tb2JpbG5pc3ZldGNvbS8yMDIyLzEvMTI3L3FqejRoczAxZ3MyMGpkbXQybWxrLzIvZi5qcGc.webp" class="d-block" alt="Slika nije ucitana">
                      </div>
                      <div class="carousel-item" data-bs-interval="1000">
                        <img src="https://cdn2.mobilnisvet.com/CKvqK5fXDjdBjVu-SveOg18lGt8Kym9DlK_d6QQX7qs/sm:1/sh:1/el:0/q:85/wm:0.2:re:0:0:0.5/rs:fill:360:735/czM6Ly9tb2JpbG5pc3ZldGNvbS9QaG9uZXMvbmsxL2ltYWdlcy81Ym04LmpwZw.webp" class="d-block" alt="Slika nije ucitana">
                      </div>
                      <div class="carousel-item" data-bs-interval="1000">
                        <img src="https://cdn2.mobilnisvet.com/cf41oi8hQgp3m-O_dBpN7k7TE2ELaHYQjEEvgEuuezM/sm:1/sh:1/el:0/q:85/wm:0.2:re:0:0:0.5/rs:fill:360:745/czM6Ly9tb2JpbG5pc3ZldGNvbS9QaG9uZXMvcXNxL2ltYWdlcy93Zzd0LnBuZw.webp" class="d-block" alt="Slika nije ucitana">
                      </div>
                      <div class="carousel-item" data-bs-interval="1000">
                        <img src="https://cdn2.mobilnisvet.com/4XkjEzIG0azc9QiL67MigY62Fxvm3nQOP1TFSCX7mLI/sm:1/sh:1/el:0/q:85/wm:0.2:re:0:0:0.5/rs:fill:360:748/czM6Ly9tb2JpbG5pc3ZldGNvbS9QaG9uZXMvcnZ2L2ltYWdlcy9jbHBzLmpwZw.webp" class="d-block" alt="Slika nije ucitana">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</section>
