.slika {
    background: linear-gradient(to top, rgb(255, 255, 255, 0.2), rgb(0, 0, 0)), url('https://png.pngtree.com/background/20230629/original/pngtree-overhead-view-of-devices-collection-in-3d-rendering-featuring-websites-apps-picture-image_4090283.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0;
    text-align: center;
    color: white;

}

.slika h2 {
    font-size: 60px;
}

.slika p {
    font-size: 20px;
}

.carousel .carousel-item {
    transition-duration: 1s;
}

.carousel .carousel-item img {
    height: 500px;
    width: 250px;
    margin: 0 auto;
}

.opis {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.btn.btn-dark {
    border-radius: 20px;
    background-color: #41576b;
}