<section id="porudzbine-list" class="py-5">
  <div class="container-fluid">
    <h1 class="text-center">Sve porudžbine</h1>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Kupac</th>
            <th scope="col">Email kupca</th>
            <th scope="col">Broj telefona</th>
            <th scope="col">Adresa dostave</th>
            <th scope="col">Poštanski broj</th>
            <th scope="col">Poručeno</th>
            <th scope="col">Cena (RSD)</th>
            <th scope="col">Stanje</th>
            <th scope="col">Akcije</th>
          </tr>
        </thead>
        <tbody>
          <tr [class.table-info]="porudzbina.stanje === 'isporuceno'" *ngFor="let porudzbina of porudzbine">
            <th scope="row"> {{ porudzbina.id }}</th>
            <td>{{ porudzbina.user?.ime }} {{ porudzbina.user?.prezime }}</td>
            <td>{{ porudzbina.user?.email }}</td>
            <td>{{ porudzbina.brojTelefona }}</td>
            <td>{{ porudzbina.adresaDostave }}</td>
            <td>{{ porudzbina.postanskiBroj }}</td>
            <td>{{ porudzbina.telefon?.model }}</td>
            <td>{{ porudzbina.telefon?.cena }}</td>
            <td>{{ porudzbina.stanje }}</td>
            <td>
              <button type="submit" class="btn btn-danger btn-sm"
                (click)="obrisiPorudzbinu(porudzbina.id)">Obriši</button>
              <button type="submit" class="btn btn-warning btn-sm" style="margin-left: 5px;"
                (click)="azurirajPorudzbinu(porudzbina)">
                Isporučeno</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>